.root {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-image: url("/styling/TetrisBackgroundShiny.png");
}

.button {
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
}

.button:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: green;
    -fx-text-fill: yellow;
}

,vbox {
    -fx-alignment: center;
    -fx-spacing: 5px;
}